.njba-heading-sub-title{clear:both}.njba-side-left{width:100px}.njba-side-right{width:100px}.njba-divider-content{display:table-cell;padding-left:5px;padding-right:5px;text-align:center}.njba-separator-line{display:table-cell;vertical-align:middle}