/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/
.fl-slide-photo {
  margin-top: 120px !important;
}
.mobile_top_bar .menu > li:last-child > a:first-child {
    display: none;
}
.display_none {
  display: none;
}
.container.fl-content-full {
  margin: 0;
  padding: 0;
  width: auto;
  max-width: none;
}
/*New PDP Button Color css */
.product-detail-layout-6 .dual-button a {
  background-color: #e17064 !important;
  color: #fff !important;
  border-style: solid;
  border-width: 1px;
  border-color: #e17064;
}

.product-detail-layout-6 .dual-button a:hover {
  color: #e17064 !important;
  background-color: transparent !important;
  border-style: solid;
  border-width: 1px;
  border-color: #e17064;
}

.product-detail-layout-6 .button-wrapper > a {
  color: #e17064 !important;
  background-color: transparent !important;
  border-style: solid;
  border-width: 1px;
  border-color: #e17064 !important;
}

.product-detail-layout-6 .button-wrapper > a:hover {
  background-color: #e17064 !important;
  color: #fff !important;
  border-style: solid;
  border-width: 1px;
  border-color: #e17064 !important;
}
.map-multi-marker {
  height: 400px !important;
}
.active-gallery-modal .fl-row-content-wrap .product-box a.fl-button {
  display: block !important;
  text-align: center !important;
}

a.button,
a.fl-button,
a.fl-button:visited,
.fl-builder-content a.fl-button,
.fl-builder-content a.fl-button:visited {
  background: #e17064;
  border: 1px solid #e17064;
  color: #fff;
  border-radius: 0;
  padding: 7px 30px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.4px;
  text-decoration: none;
}

a.button.alt,
.button-wrapper-default a,
.button-wrapper-default a.button {
  background: #e17064;
  border-color: #e17064;
  color: #fff;
}

a.button:hover,
a.button.alt:hover,
a.fl-button:hover,
a.fl-button:visited:hover,
.fl-builder-content a.fl-button:hover,
.fl-builder-content a.fl-button:visited:hover,
.button-wrapper-default a:not(.button):hover {
  background: #fff;
  border-color: #e17064;
  color: #e17064;
}

a.button:hover span,
a.fl-button:hover span,
a.fl-button:visited:hover span,
.fl-builder-content a.fl-button:hover span,
.fl-builder-content a.fl-button:visited:hover span {
  color: #e17064 !important;
}

.fl-post-grid-gallery {
  width: 300px;
  height: 300px;
  background-position: center !important;
  cursor: pointer;
}

.storename {
  padding: 0px;
  list-style: none;
}

.storename p,
.storename span {
  margin: 0px !important;
  color: #000 !important;
}

.storename a > p {
  color: #fff !important;
}

ul.store-opening-hrs {
  list-style: none;
  font-size: 16px;
  padding: 0px;
}

.gform_wrapper.gf_browser_chrome .gfield_checkbox li input,
.gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type="checkbox"],
.gform_wrapper.gf_browser_chrome .gfield_radio li input[type="radio"] {
  margin-top: 3px !important;
  vertical-align: top;
}

#djcustom-header .uabb-creative-menu .menu > li > a > span {
  color: #323232;
}
.fl-callout-text p a:hover,
.fl-icon-text p a:hover,
.fl-icon-text .storename a:hover span,
.fl-icon-text .storename a:hover p,
.storename .phone a:hover span {
  color: #e17064 !important;
}

.top-bar-corona-update .fl-rich-text a:hover,
.top-bar-corona-update .fl-rich-text a:hover strong {
  color: #323232 !important;
}
a.phone.retailer span {
  color: #323232;
}
a.phone.retailer:hover span {
  color: #ed7c70;
}
#djcustom-header .uabb-creative-menu .menu > li > a:hover > span {
  color: #e17064;
}

#djcustom-header
  .uabb-creative-menu
  #menu-header-secondary-menu
  > li
  > a
  > span {
  color: #fff;
}

#djcustom-header
  .uabb-creative-menu
  #menu-header-secondary-menu
  > li
  > a:hover
  > span,
#djcustom-header
  .uabb-creative-menu
  #menu-header-secondary-menu
  > li:hover
  > a
  > span {
  color: #d6d6d6;
}

#djcustom-header .uabb-creative-menu .menu > li > a:not([href]) {
  display: none;
}

#search_icon_trgr .ua-icon {
  cursor: pointer;
}

#custom_search_frm {
  position: absolute;
  width: 100%;
  background-color: #000;
  z-index: 999;
  display: none;
  left: 0;
}
.location-page-gallery .uabb-photo-gallery img {
  height: 300px !important;
}

.uabb-ib-effect-style1 .uabb-new-ib-title {
  position: absolute;
  bottom: 70px;
  left: 0;
  right: 0;
  padding: 0 25px;
}

.uabb-ib-effect-style1.uabb-ib2-hover .uabb-new-ib-title {
  bottom: auto;
  top: 0;
}

/* Team Page Popup */

.popup-img {
  width: 35%;
  float: left;
}

#menu-item-1000029 a {
  text-transform: uppercase !important;
}
.popup-content {
  width: 60%;
  float: left;
  margin-left: 5%;
}

.popup-content h4 {
  font-size: 22px;
}

.popup-content h6 {
  margin-bottom: 10px !important;
  font-size: 16px;
}

.popup-content a {
  color: #323232;
}

.popup-content a:hover {
  color: #ed7c70;
}

.facet_filters {
  z-index: 999991 !important;
}
.facet_filters .facet-wrap>strong{
	color: #ed7c70;
	border-color: #ed7c70;
}
/* Form Loader CSS */

.gform_wrapper .gform_footer {
  position: relative;
}

.gform_wrapper .gform_ajax_spinner {
  position: absolute;
  top: 27px;
  right: 10px;
  background: #fff;
  padding: 3px !important;
  border-radius: 50%;
}

.facetwp-selections ul:before {
  content: "YOUR SELECTION";
  font-weight: 700;
  font-size: 16px;
  border-bottom: 2px solid #630a0a;
  padding: 0px;
  width: 100% !important;
  position: relative;
  display: block;
  margin-bottom: 5px;
  color: #000;
  padding: 5px 5px 5px 0px;
}

.facetwp-selections ul {
  padding-bottom: 20px;
  padding-left: 0;
}

.mobile_top_bar ul#menu-contact li:first-child {
  display: none;
}

.mobile_top_bar ul#menu-contact li a span{
 color: #fff !important;
}

.mobile_top_bar ul#menu-contact li a:hover span{
  color: #000 !important;
 }

 ul.social-icons li a:hover i {
  color: #ed7c70 !important;
}




#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme {
  background-color: #ED7C70;
  border-top: 1px solid #fff;
}


#moove_gdpr_cookie_info_bar .moove-gdpr-cookie-notice p a:hover,
button.moove-gdpr-infobar-close-btn:hover i {
  color: #f5f5f5 !important;
  opacity: 0.7;
}

.moove-gdpr-button-holder>button.mgbutton {
  background-color: #a3bfc0  !important;
  color: #fff !important;
  border-radius: 0px!important;
  font-family: "Poppins",sans-serif !important;
  font-weight: 700!important;
  text-transform: uppercase!important;
  box-shadow: none !important;
  border: none!important;
}
.moove-gdpr-button-holder>button.mgbutton:hover {
  background: #000000  !important;
  color: #fff!important;
  text-transform: uppercase!important;
  border-color: #000000 !important;
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content #moove-gdpr-menu li button {
  color: #000 !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close i,
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close span.gdpr-icon {
  background-color: #a3bfc0 !important;
  border: 1px solid #fff !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close i:hover, 
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close span.gdpr-icon:hover,
#moove_gdpr_cookie_info_bar span[data-href]>u.change-settings-button {
  color: #fff !important;
  background-color: #000000 !important;
}
button.moove-gdpr-infobar-close-btn:hover i {
  color: #000000 !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-button-holder > button {
  background-color: #a3bfc0 !important;
  color: #fff!important;  
  border: 0px!important;
  border-radius: 0px!important;
  font-family: "Poppins",sans-serif !important;
  font-weight: 700!important;
  text-transform: uppercase!important;  
    
}
#moove_gdpr_cookie_modal .moove-gdpr-button-holder > button:hover {
  background: #000000  !important;
  color: #fff !important;
  border: 0px!important;
}

.moove-gdpr-tab-main-content a:hover {
  color: #a3bfc0 !important;
}

@media (max-width: 1024px) {
    ul#menu-header-secondary-menu > li {
        margin: 5px 10px;
    }
      
  .header_banner>.fl-row-content-wrap {
    min-height: 400px !important;
  }
  
  .header_banner .fl-row-content,
  .fl-tabs-panel-content .fl-row-content {
    z-index: 2;
  }
  .header_banner>.fl-row-content-wrap:after {
    border-radius: inherit;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.35);
  }

}

@media (min-width: 768px) {
  .gfield {
    padding-right: 15px !important;
  }
}

@media (max-width: 992px) {
  body {
    position: relative;
  }
  header .fl-row > .fl-row-content-wrap > .fl-row-content > .fl-col-group {
    position: relative;
  }
  #search_icon_trgr {
    position: absolute;
    top: 5px;
    right: 0;
    z-index: 5;
    width: auto;
  }
  #search_icon_trgr .fl-icon .ua-icon:before {
    font-size: 40px;
  }
  /* Reverse Row on Tablet */
  .fl-col-group.fl-col-group-responsive-reversed {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    -ms-box-orient: horizontal;
    -webkit-flex-flow: row wrap;
  }
  .fl-col-group-responsive-reversed .fl-col:nth-of-type(1) {
    -webkit-box-ordinal-group: 12;
    -moz-box-ordinal-group: 12;
    -ms-flex-order: 12;
    -webkit-order: 12;
    order: 12;
  }
  .fl-col-group-responsive-reversed .fl-col:nth-of-type(2) {
    -webkit-box-ordinal-group: 11;
    -moz-box-ordinal-group: 11;
    -ms-flex-order: 11;
    -webkit-order: 11;
    order: 11;
  }
  .fl-col-group-responsive-reversed .fl-col:nth-of-type(3) {
    -webkit-box-ordinal-group: 10;
    -moz-box-ordinal-group: 10;
    -ms-flex-order: 10;
    -webkit-order: 10;
    order: 10;
  }
  .fl-col-group-responsive-reversed .fl-col:nth-of-type(4) {
    -webkit-box-ordinal-group: 9;
    -moz-box-ordinal-group: 9;
    -ms-flex-order: 9;
    -webkit-order: 9;
    order: 9;
  }
  .fl-col-group-responsive-reversed .fl-col:nth-of-type(5) {
    -webkit-box-ordinal-group: 8;
    -moz-box-ordinal-group: 8;
    -ms-flex-order: 8;
    -webkit-order: 8;
    order: 8;
  }
  .fl-col-group-responsive-reversed .fl-col:nth-of-type(6) {
    -webkit-box-ordinal-group: 7;
    -moz-box-ordinal-group: 7;
    -ms-flex-order: 7;
    -webkit-order: 7;
    order: 7;
  }
  .fl-col-group-responsive-reversed .fl-col:nth-of-type(7) {
    -webkit-box-ordinal-group: 6;
    -moz-box-ordinal-group: 6;
    -ms-flex-order: 6;
    -webkit-order: 6;
    order: 6;
  }
  .fl-col-group-responsive-reversed .fl-col:nth-of-type(8) {
    -webkit-box-ordinal-group: 5;
    -moz-box-ordinal-group: 5;
    -ms-flex-order: 5;
    -webkit-order: 5;
    order: 5;
  }
  .fl-col-group-responsive-reversed .fl-col:nth-of-type(9) {
    -webkit-box-ordinal-group: 4;
    -moz-box-ordinal-group: 4;
    -ms-flex-order: 4;
    -webkit-order: 4;
    order: 4;
  }
  .fl-col-group-responsive-reversed .fl-col:nth-of-type(10) {
    -webkit-box-ordinal-group: 3;
    -moz-box-ordinal-group: 3;
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3;
  }
  .fl-col-group-responsive-reversed .fl-col:nth-of-type(11) {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }
  .fl-col-group-responsive-reversed .fl-col:nth-of-type(12) {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
  .gallery-imgs-full-width .fl-module-info-banner .uabb-module-content > img {
    height: 100% !important;
  }
  #menu-copyright-bar-menu {
    text-align: center;
    width: 100%;
  }
  #menu-copyright-bar-menu > li {
    display: inline-block;
    vertical-align: top;
  }

  /* marge css 768px */
  #search_icon_trgr {
    top: 15px;
    right: 15px;
  }
  #responsive-menu-button {
    left: 10px !important;
  }
  header .fl-module-uabb-photo .uabb-module-content {
    margin-left: 65px;
    margin-right: 65px;
  }
  .fl-col-small {
    max-width: none;
  }
  .gallery-imgs-full-width .fl-module-info-banner .uabb-module-content > img {
    height: auto !important;
    width: 100% !important;
  }
  .uabb-ib-effect-style1 img {
    -ms-transform: translate3d(0px, 0, 0);
    -o-transform: translate3d(0px, 0, 0);
    -webkit-transform: translate3d(0px, 0, 0);
    -moz-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
  }
  a.responsive-menu-item-link {
    color: #fff;
  }
  .rmp-menu-additional-content ul.storename .phone a span {
    color: #fff !important;
  }
  .rmp-menu-additional-content ul.storename .phone a:hover span {
    color: #ed7c70 !important;
  }
  .locations-accordian-wrap
    .uabb-adv-accordion-item
    .uabb-adv-accordion-content {
    position: absolute;
    z-index: 9;
    width: auto;
    margin: 0 0px 0 40px;
  }
  .locations-accordian-wrap .uabb-adv-accordion-button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .locations-accordian-wrap
    .uabb-adv-accordion-button
    .uabb-adv-accordion-button-label {
    width: auto;
  }

  /* marge css 768px */

  /* PLP Page Css iPad Air */
  .open_sidebar {
    overflow: hidden;
    margin-bottom: 20px;
  }

  .open_sidebar a {
    float: unset;
  }

  .facet_filters .close_bar,
  .open_sidebar,
  .close_sidebar_button {
    display: none;
  }

  #product-list-top-filters .fl-col-group .fl-col {
    width: 100% !important;
    text-align: center;
    max-width: 100%;
  }
  #product-list-top-filters .fl-heading,
  .facetwp-counts,
  .facetwp-pager,
  .facetwp-per-page,
  .open_sidebar {
    text-align: center !important;
  }
  .open_sidebar,
  .close_sidebar_button {
    display: block;
  }
  .open_sidebar {
    max-width: 160px;
    margin: 0 auto 20px !important;
  }
  .facet_filters {
    position: fixed;
    top: 0px;
    left: -5px;
    width: 80%;
    height: 100%;
    overflow: auto;
    background-color: white;
    z-index: 10;
    left: -1000px;
    -moz-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
  }
  .facet_filters .close_bar {
    background-color: #008c8c;
    overflow: hidden;
    width: 100%;
    padding: 5px;
    display: block;
    margin-bottom: 20px;
  }

  .facet_filters .close_bar .close {
    color: white;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    float: right;
    color: #fff;
    opacity: 1;
  }
  .facetwp-template .product-grid .product-row > .col-md-4:nth-child(3n + 1) {
    clear: left !important;
  }
  .facetwp-template .product-grid .product-row > .col-md-4 {
    width: 33.33%;
    float: left;
    clear: none !important;
  }
  .product-detail-layout-6 .product-box .row:first-child .col-md-6:first-child {
    width: 100% !important;
    text-align: center !important;
  }
  .product-detail-layout-6
    .product-box
    .row:first-child
    .col-md-6:nth-child(2) {
    width: 100% !important;
    text-align: center !important;
  }
  .product-detail-layout-6 .toggle-image-thumbnails {
    align-items: center !important;
    justify-content: center !important;
  }

  .facetwp-per-page select {
    border: 1px solid #000;
  }

  /* PLP Page Css iPad Air */

  ul.store-opening-hrs {
    margin: 0 auto !important;
  }
  .fl-module.fl-module-photo.fl-animation .fl-photo-align-left {
      text-align: center !important;
  }

  .fl-tabs-panel-content .fl-col.fl-col-small {
    max-width: 100%;
  }
  
  .header_banner>.fl-row-content-wrap {
    min-height: 400px !important;
    padding: 20px 0!important;
  }
  
  .header_banner .fl-row-content,
  .fl-tabs-panel-content .fl-row-content {
    z-index: 2;
  }
  
  .header_banner>.fl-row-content-wrap:after,
  .fl-tabs-panel-content .fl-row-content-wrap:after {
    border-radius: inherit;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.35);
  }
  
  .fl-page-content .uabb-module-content.uabb-dual-button.uabb-align-left{
		justify-content: center;
	}

  .gform_footer input[type="submit"] {
    width: auto !important;
  }
  
  .fl-page-content .uabb-module-content.uabb-infobox.infobox-left,
  .fl-page-content .fl-module-heading .fl-heading,
  .fl-page-content .fl-rich-text,
  .fl-page-content .fl-rich-text *,
  .fl-page-content .review-wrap,
  .fl-page-content .fl-builder-content .fl-button-left,
  .fl-page-content .fl-cta-left *,
  .fl-page-content .fl-module-content .fl-rich-text ul.storename,
  .fl-page-content .fl-module-content .fl-rich-text ul.storename *,
  .fl-page-content .fl-module-content ul.storename,
  .uabb-module-content.uabb-button-wrap,
  .fl-page-content .uabb-modal-action-wrap {
    text-align: center !important;
  }
  
  .fl-page-content .fl-module-content .fl-rich-text ul,
  .fl-page-content .fl-module-content .fl-rich-text ol,
  .fl-page-content .fl-module-content .uabb-infobox-text.uabb-text-editor ul,
  .fl-page-content .fl-module-content .uabb-infobox-text.uabb-text-editor ol {
    margin: 0;
  }
  
  .fl-page-content .fl-module-content .fl-rich-text ul *,
  .fl-page-content .fl-module-content .fl-rich-text ol *,
  .fl-page-content .fl-module-content .uabb-infobox-text.uabb-text-editor ul *,
  .fl-page-content .fl-module-content .uabb-infobox-text.uabb-text-editor ol *,
  .fl-page-content .text_left_content .fl-rich-text *,
  .fl-page-content .text_left_content .fl-rich-text * {
    text-align: left !important;
  }

}

@media (max-width: 768px) {
  #search_icon_trgr {
    top: 15px;
    right: 15px;
  }
  #responsive-menu-button {
    left: 10px !important;
  }
  header .fl-module-uabb-photo .uabb-module-content {
    margin-left: 65px;
    margin-right: 65px;
  }
  .fl-col-small {
    max-width: none;
  }
  .gallery-imgs-full-width .fl-module-info-banner .uabb-module-content > img {
    height: auto !important;
    width: 100% !important;
  }
  .uabb-ib-effect-style1 img {
    -ms-transform: translate3d(0px, 0, 0);
    -o-transform: translate3d(0px, 0, 0);
    -webkit-transform: translate3d(0px, 0, 0);
    -moz-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
  }
  a.responsive-menu-item-link {
    color: #fff;
  }
  .rmp-menu-additional-content ul.storename .phone a span {
    color: #fff !important;
  }
  .rmp-menu-additional-content ul.storename .phone a:hover span {
    color: #ed7c70 !important;
  }
  .locations-accordian-wrap
    .uabb-adv-accordion-item
    .uabb-adv-accordion-content {
    position: absolute;
    z-index: 9;
    width: auto;
    margin: 0 auto;
    right: 0;
    left: 0;
    max-width: 400px
  }
  .locations-accordian-wrap .uabb-adv-accordion-button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .locations-accordian-wrap
    .uabb-adv-accordion-button
    .uabb-adv-accordion-button-label {
    width: auto;
  }
}

@media (max-width: 680px) {
  .gallery-imgs-full-width .fl-module-info-banner .uabb-module-content > img {
    width: 125% !important;
  }
  .fl-node-5d8e587624f9a > .fl-row-content-wrap {
    min-height: 0;
  }
  .uabb-module-content .uabb-photo-gallery-item {
    width: 100% !important;
  }
}

@media (max-width: 600px) {
  #wpadminbar {
    position: fixed;
  }
}

@media (max-width: 480px) {
  .facetwp-template .product-grid .product-row > .col-md-4 {
    width: 100% !important;
    clear: left !important;
  }

  button.rmp_menu_trigger{
    top: 150px !important;
  }

}

@media (max-width: 479px) {
  .gallery-imgs-full-width .fl-module-info-banner .uabb-module-content > img {
    height: 125% !important;
    width: auto !important;
  }
  ul#menu-copyright-bar-menu {
    flex-direction: column;
  }
}
@media (max-width: 375px) {
  button#responsive-menu-button {
    top: 105px !important;
  }
}
#breadcrumbs {
  padding: 8px 0;
  background: #f7f7f7;
  font-size: 85%;
  text-align: left;
}

/* input[type=submit]{
	background-color: #428bca!important;
	color: #fff!important;
	transition: all 0.7s;
}
 */
/* input[type=submit]:hover{
	background-color: #ed7c70!important;
}
 */
.gform_footer input[type="submit"] {
  border-radius: 0px;
  background: #e17064 !important;
  color: #fff !important;
  border: 1px solid #e17064 !important;
  transition: all 0.7s;
}
.gform_footer input[type="submit"]:hover {
  border-radius: 0px;
  background: #fff !important;
  color: #e17064 !important;
  border: 1px solid #e17064 !important;
}
a.retailer.phone span:before,
.header-call .phone span:before {
  content: "\f095";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-size: 20px;
  vertical-align: text-bottom;
  margin-right: 4px;
}
